body {
	background-image: url('img/bg.png');
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}
/* button {
	border-radius: 7px;
	width: 5em;
	height: 3em;
} */

[data-hidden='0'] {
	display: block;
}

[data-hidden='1'] {
	display: none;
}

.display-none {
	display: none;
}

/*--------------------------------------*\
	Admin
\*--------------------------------------*/

.Admin {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background: #2c3e50;
	color: #fff;
	font-size: 24px;
	overflow-y: scroll;
	position: absolute;
	text-align: center;
}

.Admin_table {
	margin: 0 auto;
	text-align: center;
	width: 60%
}

.Admin_table tr:nth-child(even) {
	background: #34495e;
}

.Admin_table tr:hover {
	background: #5E84AA;
}

.Admin_table td {
	border: 1px solid #000;
}

.Admin_edit {
	background: #6D98C4;
}

.Admin_save {
	background: #27ae60;
}

.Admin_delete {
	background: #733477;
}

.Admin_sure {
	background: #c0392b;
}

.Admin_edit:hover {
	background: #7FFBF8;
	color: #000;
	cursor: pointer;
}

.Admin_save:hover {
	background: #38FA8A;
	color: #000;
	cursor: pointer;
}

.Admin_delete:hover {
	background: #EE6CF7;
	color: #000;
	cursor: pointer;
}

.Admin_sure:hover {
	background: #e74c3c;
	color: #000;
	cursor: pointer;
}

.Admin input {
	background: none;
	border: none;
	color: #fff;
	font-size: 24px;
	text-align: center;
	width: 100%;
}

/*--------------------------------------*\
	ActionCard
\*--------------------------------------*/

.ActionCard_button {
	background: #fff;
	border: 2px solid #000;
	bottom: 15px;
	cursor: pointer;
	height: 40px;
	position: absolute;
	right: 15px;
	width: 50%;
}

.ActionCard_button:hover {
	background: #48CFAD;
}

.ActionCard_congrats {
	background: peachpuff;
	bottom: 25%;
	font-size: 20px;
	left: 25%;
	padding: 15px;
	position: fixed;
	right: 25%;
	top: 25%;
	z-index: 400;
}

.ActionCard_congrats span {
	font-size: 40px;
}

.ActionCard_container {
	background: #fff;
	border: 10px solid #000;
	border-radius: 10px;
	bottom: 25%;
	left: 40%;
	padding: 10px;
	position: fixed;
	right: 40%;
	top: 25%;
}

.ActionCard_container h2 {
	text-align: center;
}

.ActionCard_dice {
	text-align: center;
}

.ActionCard_no {
	background: #e74c3c;
	border: 2px solid #000;
	bottom: 15px;
	color: #fff;
	cursor: pointer;
	height: 40px;
	position: absolute;
	right: 15px;
	width: 41.5%;
}

.ActionCard_no:hover {
	background: #34495e;
}

.ActionCard_yes {
	background: #2ecc71;
	border: 2px solid #000;
	bottom: 15px;
	color: #fff;
	cursor: pointer;
	height: 40px;
	left: 15px;
	position: absolute;
	width: 41.5%;
}

.ActionCard_yes:hover {
	background: #34495e;
}

/*--------------------------------------*\
	Analysis
\*--------------------------------------*/

.Analysis_boardColumn {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 5px;
}

.Analysis_cardHolder {
	background: #fff;
	border: 2px solid #4FC1E9;
	border-radius: 5px;
	flex: 6;
	overflow-y: auto;
	padding: 10px;
	text-align: center;
}

.Analysis_cardHolder h4 {
	color: #4FC1E9;
	font-family: 'Slackey', cursive;
	margin: 0;
}

.Analysis_diceHolder {
	display: flex;
	flex: 1;
	flex-direction: column;
	font-family: 'Slackey', cursive;
	font-size: 30px;
	justify-content: center;
}
.Analysis_diceHolder_score {
	text-align: center;
	width: 100%;
}

.Analysis_diceHolder_active {
	animation: Workers_pulse 1s ease-out;
	animation-iteration-count: infinite;
	background: #ED6888;
	clip-path: polygon(38% 18%, 66% 18%, 66% 38%, 85% 40%, 52% 89%, 52% 88%, 20% 40%, 38% 39%);
}

/*--------------------------------------*\
	App
\*--------------------------------------*/

.App_board {
	display: flex;
	justify-content: space-between;
}

.App_mainBoard {
	display: flex;
	flex: 6;
	justify-content: space-between;
	height: 78.5vh;
	width: 80vw;
}

.App_status {
	flex: 1;
}

@media only screen and (min-width: 1030px) {
	.App_mainBoard {height: 82.5vh;}
}

/*--------------------------------------*\
	Backlog
\*--------------------------------------*/

/*--------------------------------------*\
	Calendar
\*--------------------------------------*/

.Calendar_column {
	border: 1px solid #000;
	box-sizing: border-box;
	display: flex;
	flex: 1;
	flex-direction: column;
	text-align: center;
}

.Calendar_column div:not(:last-child) {
	border-bottom: 1px solid #000;
}

.Calendar_container {
	background: #fff;
	border: 30px solid #ED6888;
	border-radius: 5px;
	box-sizing: border-box;
	display: flex;
	font-family: 'Roboto Slab', serif;
	font-size: 3vw;
	justify-content: space-between;
	left: 14.78%;
	margin-top: 130px;
	position: fixed;
	top: 0;
	width: 70.45%;
}

.Calendar_header {
	background: #ccc;
	border-bottom: 1px solid #000;
	font-size: 10px;
}

.Calendar_sick {
	background: lightgreen;
}

.Calendar_sick span {
	font-size: 1vw;
}

.Calendar_today {
	background: #ccc;
}

/*--------------------------------------*\
	CalendarLink
\*--------------------------------------*/

.CalendarLink_container {
	background: #ED6888;
	border-radius: 5px;
	height: 400px;
	margin-right: -120px;
	position: absolute;
	right: 0;
	transform: rotate(-30deg);
	width: 200px;
}

.CalendarLink_icon {
	cursor: pointer;
	font-size: 100px;
	margin-left: 5px;
	margin-top: 0;
}

/*--------------------------------------*\
	CardPool
\*--------------------------------------*/

.CardPool_container {
	flex: 1;
	padding: 56px 5px 5px 5px;
}

.CardPool_container h4 {
	color: #555;
	font-family: 'Slackey', cursive;
	margin: 5px 0 10px 0;
	text-align: center;
}

/*--------------------------------------*\
	DefectCards
\*--------------------------------------*/

.DefectCards_container {
	background: #FFDAB9;
}

/*--------------------------------------*\
	Development
\*--------------------------------------*/

/*--------------------------------------*\
	Done
\*--------------------------------------*/

/*--------------------------------------*\
	Footer
\*--------------------------------------*/

.Footer_container {
	display: flex;
	justify-content: space-between;
	padding: 0 60px 15px 30px;
}

.Logo {
	color: #ED6888;
	flex: 15;
	font-family: 'Slackey', cursive;
	font-size: 42px;
	text-align: center;
}

@media only screen and (min-width: 1030px) {
	.Footer_container {padding: 0 15px 15px 180px;}
}


/*--------------------------------------*\
	Header
\*--------------------------------------*/

.Header {
	display: flex;
	justify-content: space-between;
	padding: 15px 15px 0 0;
}

.Header_reset, .Header_logout, .Header_admin, .Header_rules {
	background: #fff;
	border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  height: 50px;
  margin-right: 15px;
  width: 100px;
}

.Header_reset:hover, .Header_logout:hover, .Header_admin:hover, .Header_rules:hover {
	border: 2px solid #000;
	color: #000;
}

.Header_reset {
	border: 2px solid #f44336;
	color: #f44336;
}

.Header_logout {
	border: 2px solid #008cba;
	color: #008cba;
}

.Header_admin {
	border: 2px solid #4caf50;
	color: #4caf50;
}

.Header_rules {
	border: 2px solid #e67e22;
	color: #e67e22;
}

.Header_buttons {
	left: 210px;
	position: absolute;
}

/*--------------------------------------*\
	Header
\*--------------------------------------*/

/*--------------------------------------*\
	Header
\*--------------------------------------*/

.HighScore {
	background-color: #9b59b6;
	top:0;
	right:0;
	bottom:0;
	left:0;
	position: absolute;
	text-align: center;
}

.HighScore h1 {
	color: #fff;
	font-family: 'Slackey', cursive;
	font-size: 42px;
	text-align: center;
}

.HighScore_table {
	color: #fff;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	width: 60%
}

.HighScore_table tr:nth-child(even) {
	background: #8e44ad;
}

.HighScore_table tr:hover {
	background: #5E84AA;
}

.HighScore_table td {
	border: 1px solid #000;
}

/*--------------------------------------*\
	Login
\*--------------------------------------*/

.Login {
	background: #95a5a6;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 300;
}

.Login h1 {
	font-family: 'Slackey', cursive;
}

.Login_button {
	width: 50px;
}

.Login_error {
	background: #d9534f;
	color: #fff;
}

.Login_newAccountForm input {
	background: #333;
	color: #fff;
}

.Login_newAccountLink:hover {
	color: #fff;
	cursor: pointer;
}

.Login_success {
	background: #5cb85c;
	color: #fff;
}

/*--------------------------------------*\
	MaintenanceCards
\*--------------------------------------*/

/*--------------------------------------*\
	PlayButton
\*--------------------------------------*/

.PlayButton_button {
	background: #fff;
	border: 2px solid #ED6888;
	border-radius: 5px;
  color: #ED6888;
  cursor: pointer;
  font-size: 30px;
  width: 13%;
}

.PlayButton_button:hover {
	border: 2px solid #000;
	color: #000;
}

/*--------------------------------------*\
	Retrospective
\*--------------------------------------*/

.Retrospective {
  background-color: #257E9C;
  border-radius: 5px;
  bottom: 25%;
  color: #fff;
  left: 25%;
  position: absolute;
  right: 25%;
  text-align: center;
  top: 25%;
}

.Retrospective button {
  background-color: #97D6ED;
  border: none;
  float: right;
  height: 30px;
  width: 100px;
}

.Retrospective h2 {
  margin-bottom: 0;
}

.Retrospective p {
  margin-top: 0;
}

.Retrospective textarea {
	background: #3E97B6;
	color: #fff;
  height: 70%;
  width: 100%;
}

.Retrospective_container {
  height: 80%;
  margin: auto;
  width: 70%;
}

/*--------------------------------------*\
	Retrospectives
\*--------------------------------------*/

.Retrospectives {
  background-color: lightgreen;
  bottom: 25%;
  left: 25%;
  position: absolute;
  right: 25%;
  text-align: center;
  top: 25%;
  z-index: 100;
}

/*--------------------------------------*\
	Rules
\*--------------------------------------*/

.Rules {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    background-color: white;
    overflow-y: scroll;
    padding-left: 25px;
    padding-right: 25px;
}

.rulesButton {
	text-align: center;
	text-decoration-color: red;
}

.Rules h1 {
	color: #e67e22;
	font-family: 'Slackey', cursive;
	font-size: 42px;
	text-align: center;
}

/*--------------------------------------*\
	Status
\*--------------------------------------*/

.Status_score {
	align-self: flex-end;
	bottom: 100px;
	flex: 1;
	font-size: 24px;
	position: absolute;
	right: 15px;
	text-align: right;
}

/*--------------------------------------*\
	Test
\*--------------------------------------*/

/*--------------------------------------*\
	UserStories
\*--------------------------------------*/

.UserStories_userStory {
	background: #fff6dd;
	border: 1px solid #CCC5B1;
	color: #000;
	height: 100px;
	margin-bottom: 15px;
	padding: 5px;
}

/*--------------------------------------*\
	WorkDay
\*--------------------------------------*/

.WorkDay {
	padding-left: 15px;
}

.WorkDay_sprint {
	font-family: 'Slackey', cursive;
	font-size: 32px;
}

/*--------------------------------------*\
	Workers
\*--------------------------------------*/

.Workers_active {
	filter: saturate(800%);
}

.Workers_worker {
	animation: Workers_pulse 1s ease-out;
	animation-iteration-count: infinite;
	background: lightblue;
	border-radius: 50%;
	float: left;
	font-family: 'Slackey', cursive;
	font-size: 25px;
	height: 3vw;
	margin-left: 0.7vw;
	text-align: center;
	width: 3vw;
}

.Workers_worker p {
	margin-top: 12%;
}

.Workers_worker.analyst, .Workers_worker.tester {
	background: #6ACBEA;
}

.Workers_workers {
	margin-right: 100px;
}

@keyframes Workers_pulse {
			0% {transform: scale(1); }
			25% {transform: scale(1.05); }
			50% {transform: scale(1.1); }
			75% {transform: scale(1.1); }
			100% {transform: scale(1.05); }
}
