body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

[data-hidden='0'] {
	display: block;
}

[data-hidden='1'] {
	display: none;
}

.display-none {
	display: none;
}

/*--------------------------------------*\
	Actions
\*--------------------------------------*/

/*--------------------------------------*\
	Analysis
\*--------------------------------------*/

.Analysis_boardColumn {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 5px;
}

.Analysis_cardHolder {
	background: #4FC1E9;
	flex: 6;
	overflow-y: auto;
}

.Analysis_diceHolder {
	background: #fff;
	flex: 1;
}

/*--------------------------------------*\
	App
\*--------------------------------------*/

.App_board {
	display: flex;
	justify-content: space-between;
}

.App_mainBoard {
	display: flex;
	flex: 6;
	justify-content: space-between;
	height: 85vh;
	width: 80vw;
}

.App_status {
	flex: 1;
}

/*--------------------------------------*\
	Backlog
\*--------------------------------------*/

/*--------------------------------------*\
	Calendar
\*--------------------------------------*/

.Calendar_container {
	left: 0;
	position: absolute;
	top: 0;
}

/*--------------------------------------*\
	CalendarLink
\*--------------------------------------*/

.CalendarLink_container {
	background: #48CFAD;
	height: 400px;
	margin-right: -120px;
	position: absolute;
	right: 0;
	transform: rotate(-30deg);
	width: 200px;
}

.CalendarLink_icon {
	font-size: 100px;
	margin-left: 5px;
	margin-top: 0;
}

/*--------------------------------------*\
	CardPool
\*--------------------------------------*/

.CardPool_container {
	background: #EC87C0;
	flex: 1;
	padding: 5px;
}

/*--------------------------------------*\
	DefectCards
\*--------------------------------------*/

.DefectCards_container {
	background: #FFDAB9;
}

/*--------------------------------------*\
	Development
\*--------------------------------------*/

/*--------------------------------------*\
	Done
\*--------------------------------------*/

/*--------------------------------------*\
	Footer
\*--------------------------------------*/

.Footer_container {
	display: flex;
	justify-content: space-between;
}

/*--------------------------------------*\
	Header
\*--------------------------------------*/

/*--------------------------------------*\
	MaintenanceCards
\*--------------------------------------*/

/*--------------------------------------*\
	PlayButton
\*--------------------------------------*/

/*--------------------------------------*\
	Status
\*--------------------------------------*/

/*--------------------------------------*\
	Test
\*--------------------------------------*/

/*--------------------------------------*\
	UserStories
\*--------------------------------------*/

.UserStories_userStory {
	background: #5D9CEC;
	color: #fff;
	margin-bottom: 15px;
}

/*--------------------------------------*\
	WorkDay
\*--------------------------------------*/

/*--------------------------------------*\
	Workers
\*--------------------------------------*/

.Workers_active {
	border: 1px solid red;
}

.Workers_worker {
	animation: Workers_pulse 1s ease-out;
	animation-iteration-count: infinite;
	background: lightblue;
	border-radius: 50%;
	float: left;
	height: 3vw;
	margin-left: 0.7vw;
	width: 3vw;
}

.Workers_workers {
	margin-right: 100px;
}

@keyframes Workers_pulse {
			0% {transform: scale(1); }
			25% {transform: scale(1.05); }
			50% {transform: scale(1.1); }
			75% {transform: scale(1.1); }
			100% {transform: scale(1.05); }
}